body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: #f4ebde;
}
.sidebar {
    width: 200px;
    background: #eadcc8;
    padding: 20px;
    height: 100vh;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    background: #d2bba7;
    border-radius: 5px;
}

.sidebar ul li::before, .sidebar ul li i::after {
    content: " ";
    white-space: pre;
}
.space-before {
    margin-left: 10px;
}
.space-after {
    margin-right: 10px;
}
.content {
    flex: 1;
    padding: 20px;
}
.search-bar {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
table {
    width: 90%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background: #e4d1b9;
}
