<table class="password-table">
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Actions</th>
  </tr>
  {% for folder, details in file_data.items() %}
  {% if details.files %}
  <tr>
    <td class="folder">
      {{ folder }}
      <i class="fa fa-turn-down space-before"></i>
    </td>
  </tr>
  {% for file in details.files %}
  <tr>
    <td>
      <span id="file-{{ details.id }}-{{ file.id }}">{{ file.name }}</span>
      <span hx-on:click="copyToClipboard('file-{{ details.id }}-{{ file.id }}')"><i class="fa fa-copy space-before"></i></span>
    </td>
    <td>
      <span id="pass-{{ details.id }}-{{ file.id }}">
	**********************
	<i hx-get="/testing"
	   hx-vals='{"folder_name": "{{ folder }}", "file_name": "{{ file.name }}", "folder_id": {{ details.id }} , "file_id": {{ file.id }} }'
	   hx-target="#pass-{{ details.id }}-{{ file.id }}"
	   class="fa fa-eye space-before"></i>
	<i class="fa fa-copy space-before"></i>
      </span>
    </td>
    <td>
      <!--i class="fa fa-pen space-after"></i-->
      <i hx-get="/delete"
	 hx-vals='{"folder_name": "{{ folder }}", "file_name": "{{ file.name }}", "folder_id": {{ details.id }} , "file_id": {{ file.id }} }'
	 hx-target=".password-table"
	 class="fa fa-trash space-before"></i>
    </td>
  </tr>
  {% endfor %}
  {% endif %}
  {% endfor %}
</table>
