

<span id="pass-{{ folder_id }}-{{ file_id }}">
  {% if password %}
  {{ password }}
  <i hx-get="/testing1"
     hx-vals='{"folder_name": "{{ folder_name }}", "file_name": "{{ file_name }}", "folder_id": {{ folder_id }} , "file_id": {{ file_id }} }'
     hx-target="#pass-{{ folder_id }}-{{ file_id }}"
     class="fa fa-eye-slash space-before"></i>
  {% else %}
  **********************
  <i hx-get="/testing"
     hx-vals='{"folder_name": "{{ folder_name }}", "file_name": "{{ file_name }}", "folder_id": {{ folder_id }} , "file_id": {{ file_id }} }'
     hx-target="#pass-{{ folder_id }}-{{ file_id }}"
     class="fa fa-eye space-before"></i>
  {% endif %}
  <i class="fa fa-copy space-before"></i>
</span>
